@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto300;
  src: url(../fonts/Roboto-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-280 {
  width: 87.5%;
  margin: 0 auto;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.container-300 {
  width: 93.75%;
  margin: 0 auto;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.main-block {
  min-width: 320px;
  height: 556px;
  width: 100%;
  background: #000;
  position: absolute;
}

.top-content {
  height: 556px;
}

.layer {
  width: 100%;
  height: 100%;
  background: url(../images/bg-main.png) lightgray;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: cover;
  background-color: #999;
  opacity: 0.8;
}

.layer-background {
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background: linear-gradient(0deg, #FF4E50 0%, #F9D423 100%);
}

.content-main-block {
  width: 100%;
  height: 100%;
  position: relative;
}

.logo-white {
  display: none;
}

.autorize-buttons {
  width: 100%;
  padding-top: 20px;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.log-in,
.sign-up {
  width: 90px;
  height: 36px;
  background-color: transparent;
  color: #FFF;
}

.sign-up {
  border: 2px solid #FFF;
  border-radius: 40px;
}

.log-in {
  border: none;
}

.text-main-block {
  width: 100%;
  margin-top: 106px;
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name-text {
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  margin-bottom: 26.5px;
}

.title-text {
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  margin-bottom: 5.5px;
}

.subtitle {
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 24.5px;
  text-align: center;
  margin-bottom: 15px;
}

.find {
  width: 280px;
  height: 40px;
  background-color: #FF4E50;
  font-family: Montserrat;
  color: #FFF;
  border-radius: 40px;
  flex-shrink: 0;
  border: none;
}

.title-block {
  color: #444;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  margin-top: 27px;
  margin-bottom: 15px;
}

.steps {
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.step-one,
.step-two,
.step-three {
  width: 300px;
  height: 240px;
  border-radius: 4px;
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.step-one {
  background: url(../images/step1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
}

.step-two {
  background: url(../images/step2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
}

.step-three {
  background: url(../images/step3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
}

.layer-for-background {
  width: 300px;
  height: 240px;
  border-radius: 4px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
}

.text-step {
  width: 250px;
  height: 100%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.name-step {
  font-family: Montserrat;
  color: #FFF;
  border-radius: 40px;
  background: #FF4E50;
  width: 70px;
  height: 20px;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  border: none;
  margin-bottom: 38px;
}

.title-step {
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  margin-bottom: 25px;
}

.subtext-step {
  color: #E3E3E3;
  font-family: Roboto300;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 10px;
}

.partners-info {
  gap: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.partner-first,
.partner-second,
.partner-third,
.partner-fourth {
  width: 236px;
  height: 205px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.name-partner {
  font-family: Montserrat;
  color: #444;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.subtitle-partner {
  font-family: Roboto;
  color: #666;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 14px;
  text-align: center;
}

.more-partners {
  margin-top: 21px;
  font-family: Montserrat;
  color: #FF4E50;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  border-radius: 40px;
  border: 2px solid;
  border-color: #FF4E50;
  width: 280px;
  height: 40px;
  background-color: transparent;
}

.ideas {
  width: 100%;
  display: flex;
  justify-content: center;
}

.idea-block {
  height: 120px;
  width: 100%;
  margin-top: 33px;
  display: flex;
  justify-content: center;
}

.idea {
  width: 94.5%;
  height: 120px;
  background: #000;
  border-radius: 4px;
  position: absolute;
}

.layer-background {
  height: 100%;
  border-radius: 4px;
  text-align: center;
}

.img-bg-first {
  background: url(../images/sport.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-color: lightgray;
  opacity: 0.8;
}

.img-bg-sec {
  background: url(../images/health.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-color: lightgray;
  opacity: 0.8;
}

.img-bg-third {
  background: url(../images/extreme.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-color: lightgray;
  opacity: 0.8;
}

.img-bg-fourth {
  background: url(../images/games.png);
  background-repeat: no-repeat;
  background-position: 50% 70%;
  background-size: cover;
  background-color: lightgray;
  opacity: 0.8;
}

.img-bg-fifth {
  background: url(../images/culture.png);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: cover;
  background-color: lightgray;
  opacity: 0.8;
}

.img-bg-sixth {
  background: url(../images/relaxation.png);
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: cover;
  background-color: lightgray;
  opacity: 0.8;
}

.img-bg-seventh {
  background: url(../images/travelling.png);
  background-repeat: no-repeat;
  background-position: 100% 10%;
  background-size: cover;
  background-color: lightgray;
  opacity: 0.8;
}

.content-idea-card {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-idea-card span {
  color: #FFF;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.subtitle-create {
  color: #666;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 14px;
}

.input-create {
  margin-top: 15px;
  width: 280px;
  height: 40px;
  border-radius: 3px;
  border: 1px solid #D4D4D4;
  background: #FFF;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.07);
  outline: #FF4E50;
  color: #666;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  vertical-align: middle;
  padding-left: 15px;
}

.button-create {
  margin-top: 10px;
}

footer {
  width: 100%;
  height: 204px;
  margin-top: 19px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-hr {
  margin-top: 40px;
  width: 100%;
  height: 2px;
  background-color: #FF4E50;
  border: none;
}

.logo {
  color: #FF4E50;
  font-family: Montserrat;
  margin-bottom: 13px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.company,
.partners {
  color: #444;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.companies-list {
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row-first,
.row-second {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  color: #999;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
}

.designed {
  margin-top: 14PX;
  margin-bottom: 7px;
  color: #999;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media screen and (min-width: 767px) {
  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .logo-white {
    display: flex;
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 20px;
  }
  .autorize-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .name-text {
    display: none;
  }
  .steps {
    display: flex;
    flex-direction: row;
  }
  .step-one,
  .step-two,
  .step-three,
  .layer-for-background {
    width: 236px;
    height: 400px;
  }
  .text-step {
    width: 196px;
    height: 100%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .partners-info {
    display: flex;
    flex-direction: column;
  }
  .row-first-partners,
  .row-second-partners {
    display: flex;
    flex-direction: row;
  }
  .ideas,
  .partner-block,
  .how-work {
    margin-top: 94px;
  }
  .ideas {
    width: 748px;
    margin: 0 auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .img-bg-first {
    background-position: 50% 100%;
  }
  .img-bg-sec {
    background-position: 80% 50%;
  }
  .img-bg-third {
    background-position: 80% 50%;
  }
  .img-bg-fourth {
    background-position: 40% 70%;
  }
  .img-bg-fifth {
    background-position: 50% 100%;
  }
  .img-bg-sixth {
    background-position: 100% 50%;
  }
  .img-bg-seventh {
    background-position: 10% 10%;
  }
  .row-first-activities {
    width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
  }
  .row-first-activities .idea,
  .row-first-activities .content-idea-card {
    width: 236px;
    height: 310px;
    border-radius: 4px;
  }
  .row-second-activities,
  .row-third-activities {
    width: 100%;
    gap: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .small-part-activity .idea,
  .small-part-activity .content-idea-card {
    width: 236px;
    border-radius: 4px;
    height: 310px;
  }
  .big-part-activity .idea,
  .big-part-activity .content-idea-card {
    width: 492px;
    border-radius: 4px;
    height: 310px;
  }
  .idea-block {
    width: 100%;
    height: 310px;
  }
  .create-block {
    margin-top: 94px;
  }
  .subtitle-create {
    margin-top: 43px;
    margin-bottom: 25px;
  }
  .find-partner {
    display: flex;
    align-items: center;
  }
  .button-create {
    width: 172.125px;
    height: 40px;
    background-color: #FF4E50;
    margin-left: 10px;
  }
  footer {
    width: 768px;
    height: 100%;
    padding-top: 36px;
    padding-bottom: 26px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
  .companies-list {
    width: 16%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  .row-first,
  .row-second {
    display: flex;
    flex-direction: column;
  }
  .designed-logo {
    display: flex;
    flex-direction: column;
  }
  .designed {
    margin: 0;
    display: flex;
    justify-content: right;
  }
}
@media screen and (min-width: 1440px) {
  .main-block,
  .top-content {
    height: 726px;
  }
  .text-main-block {
    margin-top: 250px;
  }
  .title-text {
    color: #FFF;
    text-align: center;
    vertical-align: middle;
    font-family: Montserrat;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .layer {
    width: 100%;
    height: 100%;
    background: url(../images/bg-main.png) lightgray;
    background-repeat: no-repeat;
    background-position: 100% 10%;
    background-size: cover;
    background-color: lightgray;
    opacity: 0.8;
  }
  .partners-cards {
    display: flex;
    flex-direction: row;
  }
}/*# sourceMappingURL=main.css.map */